    body {
        background: url("../img/fresh-yellow-tomatoes-background-old-wooden-planks-grey-color-76319896.jpg") no-repeat center center fixed;
        background-size: cover;
        color: white;
        margin: 0;
    }

    h1 {
        position: relative;
        text-align: center;
    }

    #container {
        border: 2px solid #FFD700;
        border-radius: 20px;
        width: 400px;
        margin: 20px auto;
        padding: 20px;
        text-align: center;
        background: #A9A9A9;
        opacity: 0.85;
    }

    #timer {
        color: #FFD700;
        font-size: 50px;
        margin: 100px auto;
        border: 5px solid #FFD700;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        overflow: hidden;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
    }

    #time {
        margin-top: 70px;
        z-index: 1;
        position: relative;
    }

    #filler {
        background: #DB7093;
        height: 0px;
        width: 200px;
        position: absolute;
        bottom: 0;
        opacity: 0.8;
    }

    #buttons button {
        background: #FFD700;
        border: none;
        color: #fff;
        cursor: pointer;
        padding: 5px;
        width: 90px;
        margin: 10px auto;
        font-size: 14px;
        font-weight: bold;
        height: 50px;
        border-radius: 10px;
    }

    #buttons button#shortBreak {
        background: #FFD700;
    }

    #buttons button#longBreak {
        background: #FFD700;
    }

    #buttons button#stop {
        background: #FFD700;
    }